.container {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	color: #000;
}

a {
	color: #fff;
}

a:hover {
	color: #fff;
	text-decoration: none;
}

.page a {
	color: black;
}

.row section {
	position: absolute;
	height: 50%;
	cursor: pointer;
	z-index: 10;
}
#one, #portfolio {
 	top:0;
	left: 0;
	background:#fff;
	color: black;

}


#portfolio {
	background: url("img/portfolio.jpg") top center no-repeat;
    background-size:cover;
	-webkit-background-size:cover;
}

#two, #web-design {
	top: 0;
	left: 50%;
	 background-color: rgba(153, 0, 0, 1);
	 color: #fff;
}

#web-design {
	background: url("img/gorilloweb.jpg") top center no-repeat;
	background-size:cover;
	-webkit-background-size:cover;
}

#three, #illustrations {
	top: 50%;
	left: 0;
	background-color: rgba(11, 25, 43, 1);
	color: #fff;
}

#illustrations {
	background: url("img/illustration.jpg") top center no-repeat;
	background-size:cover;
	-webkit-background-size:cover;
}

#four, #contacts {
	top: 50%;
	left: 50%;
	background-color: rgba(141, 212, 48, 1);
	color: #000;
}
#contacts {
	background: url("img/torino.png") top center no-repeat;
	background-size:cover;
	-webkit-background-size:cover;
}


.box, .color {
	width:100%;
	height: 100%;
	 display: flex;
 	 align-items: center;
 	 justify-content: center;
 	text-align: center;
}

.color  {
	position: absolute;
}

.white {
	background-color: rgba(255, 255, 255, 0.3);
}

.white:hover {
	background-color: rgba(255, 255, 255, 0.6);
}

.red {
    background-color: rgba(153, 0, 0, 0.4);
}

.red:hover {
    background-color: rgba(153, 0, 0, 0.8);
}

.blue {
    background-color: rgba(11, 25, 43, 0.4);
}

.blue:hover {
    background-color: rgba(11, 25, 43, 0.8);
}

.green {
    background-color: rgba(141, 212, 48, 0.4);
}

.green:hover {
    background-color: rgba(141, 212, 48, 0.8);
}

.page {
	position: absolute;
	z-index: 0;
	opacity: 0;
	margin-left: 0;
}

.page-one, .page-two, .page-three, .page-four {
	width: 100%;
	height: 100%;
	position: relative;
}

.content {
	animation-name: content-fullsize;
  	animation-duration: 300ms;
 	animation-iteration-count:1;
 	animation-timing-function:ease-in;
 	animation-fill-mode:forwards;
}



@keyframes content-fullsize {

from {
	opacity:0.8;
	width: 50%;
	height: 50%;
}

 to {
 	opacity: 1;
	width: 100%;
	height: 100%;
	z-index: 1000;
	top:0;
}

}

.content-negative {
	animation-name: content-neg;
  	animation-duration: 300ms;
 	animation-iteration-count:1;
 	animation-timing-function:ease-in;
 	animation-fill-mode:forwards;
}



@keyframes content-neg {

from {
	opacity:0.8;
	width: 50%;
	height: 50%;
	left:50%;
}

 to {
 	opacity: 1;
	width: 100%;
	height: 100%;
	z-index: 1000;
	left:0;
	top:0;
}

}

#portfolio:hover, #web-design:hover, #illustrations:hover, #contacts:hover {
    animation-name: awesome-bg;
  	animation-duration: 2s;
 	animation-iteration-count:15;
 	animation-timing-function:linear;
 	animation-direction: alternate;
}

@keyframes awesome-bg {

from {
	background-size: 100%;
	background-position: top center;
}

 to {
 	background-size: 120%;
 	background-position: top left;
}

}